<% provide(:title, @user.name) %>
<div class="row">
    <section class="user_info">
      <h5> User information</h5>
    </section>

    <!--item class start-->
    <ol class="items">

      <!--row start-->
      <div class="row">
       <!--display for admin user-->
    <% if current_user.admin? && current_user.eql?(@user) %>
  <div class="col-md-6 col-md-offset-3">
      <div style="text-align: center;">
      <div style= "margin-left:13px;"><%= gravatar_for @user, size: 150 %></div><br>
      <% if current_user.eql?(@user) %>
      <p3>About yourself:</p3><br>
      <% else %>
      <p3>About user:</p3><br>
      <% end %>
      <p4><%= link_to @user.name, @user %></p4><br>
      
      <p3>Email:</p3><br>
      <p4><%= @user.email %></p4>

      </div>
  </div>  
    
    <!--display for normal user-->
     <% else %>    
    <!--outside left start-->
      <div class="col-md-3">
      <div style="text-align: center;margin-top:50px;">
      <div style= "margin-left:13px;"><%= gravatar_for @user, size: 150 %></div><br>
      <% if current_user.eql?(@user) %>
      <p3>About yourself:</p3><br>
      <% else %>
      <p3>About user:</p3><br>
      <% end %>
      <p4><%= link_to @user.name, @user %></p4><br>
      
      <p3>Email:</p3><br>
      <p4><%= @user.email %></p4>
      <br>
  <% if current_user.admin? && !current_user?(@user) %>
     <%= link_to "Delete User", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
      </div>
      <!--outside left end-->
      </div>
      
      

      <!--outside right start-->
      <div class="col-md-9" style="border-left: 1px solid silver;">
        
      <h4 style="text-align:center;">Book for sell:</h4>
      <% if @user.items.any? %>
      <!--<ol class="items">-->
      <%= render @items %>
      <!--</ol>-->
      <% else %>
      <br>
      <h4 style="text-align:center;">This user haven't post anything for sell</h4>
      <% end %>
      <!--outside right end-->
      </div>
      <!--display for normal user end-->
      <% end %>
      <!--row end-->
      </div>
      <!--item class end-->
      </ol>
</div>