<% provide(:title, 'Payment') %>

<div class="row">
  <div class="col-md-4 col-md-offset-4" >
        <section class="user_info">
      <h5>
      Purchase information
      </h5>
    </section>
  <%= form_for(@payment, url: newpayment_path) do |f| %>

  <p>Username: <%= current_user.name %></p>
  <p>Email: <%= current_user.email %></p>
  <p>Purchase quantity: <%= @trade.buyquantity %></p>
  <p>Book price: <%= @trade.item.price %></p>  
  <%= f.hidden_field :username, :value => current_user.name %>
  <%= f.hidden_field :email, :value => current_user.email %>
  <br>
  <%= f.label "Total price:" %>
  $<%= @trade.totalprice %>
  <br></br>
  <%= f.submit "Proceed Payment", class: "btn", style: "color: white;background: rgb(242, 118, 73);" %>
  <% end %>


  </div>
</div>