  <div id="item-<%= item.id %>">
      <div class="showbook">
      <div class="column" style="width: <%= @width %>%">
      <div style="background-color: #FFF9F9; padding:20px;  border: 1px solid gray;border-radius: 25px;">
      <span style="showbookimage">
      <%= link_to image_tag(item.image.url) , item %>
      </span>
      <br></br>
      <li><a class="showbookname"><%= link_to item.name, item %></a></li>
      <li><%= item.author %></li>
      
      <li>
      <% if item.quantity>0 %>
      <span class="quantity" style="color: green;">Quantity: In stock</span>
      <% else %>
      <span class="quantity" style="color: red;">Quantity: Out of stock</span>
      <% end %>
      </li>
      </div>
      </div>
      </div>
  </div>
