<% provide(:title, @item.name) %>
<div class="row">
    <section class="user_info">
      <h5>Book Information</h5>
    </section>
    <!--item class start-->
    <ol class="items">
          
    <!--row start-->
      <div class="row">
    <!--outside left start-->
      <div class="col-md-4">
      <div style="text-align: center;margin-top:50px;">
      <div style= "margin-left:13px;"><%= gravatar_for @item.user, size: 150%></div><br>
      <p3>Posted By:</p3><br>
      <p4><%= link_to @item.user.name, @item.user %></p4><br>
      <br></br>
      <p3>Email:</p3><br>
      <p4><%= @item.user.email %></p4>
      </div>
      <!--outside left end-->
      </div>
      
      
      <!--outside right start-->
      <div class="col-md-8">
      <!--Box start-->
      <div style="background-color: #eaeaea; padding:20px; border: 1px solid gray; border-radius: 25px; height: 370px;">
      <!--In box left start-->
      <div class="col-md-6">
      <span class="name">Name: <%= @item.name %></span>
      <span class="price">Price: $<%= @item.price %></span>
      <span class="quantity">Quantity: <%= @item.quantity %></span>
      <span class="category">Category: 
      <% @item.category_ids.each do |id| %>
           "<%= Category.find(id).name %>"
      <% end %>
      </span>
      <span class="year">Year: <%= @item.year %></span>
      <span class="year">Author: <%= @item.author %></span>
      <span class="condition">Condition: <%= @item.condition%></span>
      <span class="description">Book Description:</span>
      <p style="word-break: break-all;">
      <%= @item.description %>
      </p>
      <!--In box left end-->
      </div>
      <!--In box right start-->
      <div class="col-md-6">
      <span style = "font-weight: bold;"> Book Cover:</span>
      <br></br>
      <%= image_tag @item.image.url if @item.image? %>
      <!--In box right end-->
      </div>
      <!--Box end-->
      </div>
      <br>
      
     <%= link_to "Return to items List", current_user, class: " btn btn-lg btn-success" %>
     <% if logged_in? == true %>
     <% if current_user?(@item.user) %>
      <%= link_to "Take down", @item, method: :delete, class: " btn btn-lg btn-success",
    data: { confirm: "If you take down the book, all related transactions will be remove, are you sure?" } %>
     <%= link_to "Edit", edit_item_path(@item) , class: " btn btn-lg btn-success" %>

     <% end %>
     <% end %>
     
     <% if logged_in? %>
     <% if current_user.admin? && !current_user?(@user) %>
     <%= link_to "Delete Book", @item, method: :delete, class: " btn btn-lg btn-success",
    data: { confirm: "If you delete the book, all related transactions will be remove, are you sure?" } %>
     <% end %>
     <% if @item.quantity > 0 && current_user?(@item.user) == false && current_user.admin? == false%>
     <%= link_to "Purchase" , pay(@item), class: " btn btn-lg btn-success" %>
     <% end %>
     <% end %>
      <!--outside right end-->
      </div>
      <!--row end-->
      </div>
      <!--item class end-->
      </ol>
</div>

