<% provide(:title, "New Trade") %>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <section class="user_info">
      <h5>
      Purchase information
      </h5>
    </section>
    
      <ol class="items">
      <div class="row">
     <div class="col-md-4">
      <div style="background-color: #eaeaea; padding:20px;  border: 1px solid gray;border-radius: 25px;">        
      <div style="text-align: center;">
      <%= image_tag @item.image.url if @item.image? %>
      <br></br>
      <span class="name">Name: <%= @item.name %></span>
      <span class="year">Year: <%= @item.year %></span>
      <span class="condition">Condition: <%= @item.condition %></span>
      </div>
      </div>
      </div>

      <div class="col-md-8">
      <div style="background-color: #eaeaea; padding:20px;  border: 1px solid gray;border-radius: 25px;">  
     <span class="price">Price: $<%= @item.price %></span>
      <span class="category">Category: 
      <% @item.category_ids.each do |id| %>
       "<%= Category.find(id).name %>"
      <% end %>
      </span>
      <span class="name">Seller: <%= link_to @item.user.name, @item.user %></span>
      <span class="name">Books in stock: <%= @item.quantity%></span>
    <%= form_for(@trade) do |f| %>
      <%= render 'shared/error_messages', object: @trade %>
          <%= f.label "Quantity Wanted" %>:
          <br>
          <%= f.number_field :buyquantity, max: @item.quantity, min: 1, style: "width:10%" %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
          <br>
    <%= f.submit "Pay", class: "btn btn-lg btn-success", style: "width:20%" %>
     <% end %>
      </div>
            <br></br>
     <%= link_to "Return to List", items_path, class: " btn btn-lg btn-success" %>
      </div>
      </div>
      </ol>
      </div>
</div>

