<% provide(:title, "Transaction detail") %>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <section class="user_info">
      <h5>
      Transaction detail
      </h5>
    </section>
    
  <div class="centralize">
  <table style="width:70%;">
  <tr>
  <th colspan="2">Transaction number:#<%= @trade.id %></th>
  </tr>
  <tr>
    <!--Left-->
    <td>
<li><span style = "font-weight: bold;"> Book Cover:</span></li>
      <br>
      <%= image_tag(@trade.item.image.url, width: "80%") if @trade.item.image? %>
      <br></br>
    <li><span class="name">Quantity: <%= @trade.buyquantity %></span></li>
    <% if @trade.status == false %>
      <li><span class="year" style="color: red">Status: Unpaid</span></li>
      <% else %>
      <li><span class="year" style="color: green">Status: paid</span></li>
      <% end %>    
    </td>
    
    <!--Right-->
    <td>
    
    <li><span class="name">Book name: <%= link_to @trade.item.name , @trade.item %></span></li>
    <li><span class="name">Book seller: <%= link_to @trade.item.user.name , @trade.item.user %></span></li></li>
    <li><span class="name">Seller email: <%= @trade.item.user.email %></span></li>
    <li><span class="name">Book in store: <%= @trade.item.quantity %></span></li>
    <li><span class="timestamp">Purchased at: <%= @trade.created_at %></span></li>
    <li><span class="name">Paying method: <%= @trade.paymethod %></span></li>
    
     <% if @trade.status == false%>
     <%= link_to "Pay", edit_trade_path, class: " btn btn-lg btn-success" %>
     <%= link_to "Cancel", @trade, method: :delete, class: " btn btn-lg btn-success",
                                  data: { confirm: "You sure?" } %>    
     <% end%>
    </td>
  </tr>
</table>
</div>
</div>
</div>