<% provide(:title, 'Sale History') %>

<h5>Sale History</h5>


<ul class="nav nav-tabs">
    <li> <%= link_to "Purchased", purchased_path %> </li>
    <li> <%= link_to "Sold", sold_path %> </li>
</ul>

    

<div class="row">
<div class="col-md-6 col-md-offset-3">
      <% @trade.each do |trade| %>
      <% if !(trade.payment.nil?) %>
      <% if trade.item.user.eql?(current_user) && !(trade.payment.status.nil?) %>
      <!--Display each purchase here-->
       <!--Box start-->
      <% @count = true %>
      <ol class="items">

      <div style="background-color: #eaeaea; padding:10px; border: 1px solid gray; border-radius: 25px; height: 180px;">
      <!--In box left start-->
      <div class="col-md-6">
      <span class="quantity">Transaction ID: <%= link_to trade.id , trade %></span>
      <span class="quantity">Book name: <%= link_to trade.item.name , trade.item %></span>
      <span class="quantity">Buyer: <%= link_to User.find(trade.user_id).name , User.find(trade.user_id) %></span>
      <span class="quantity">Quantity sold: <%= trade.buyquantity %></span>
      <span class="quantity">Total Price: $<%= trade.totalprice %></span>
      <span class="quantity">Sold date:</span>
      <span class="timestamp">
      <%= trade.created_at %> 
      </span>
      <!--In box left end-->
      </div>
      <!--In box right start-->
      <div class="col-md-6" >
      <span style = "font-weight: bold;"> Book Cover:</span>
      <br>
      <%= image_tag(trade.item.image.url, width: "55%") if trade.item.image? %>
      <!--In box right end-->
      <%= link_to "View detail", trade %>
      </div>
      <!--Box end-->
      </div>
</ol>
      <% end %>
      <% end %>
      <% end %>  
      
      <% if @count == false %>
      <h4 style="text-align:center; padding-top:10px">You havn't sold anything yet</h4>
      <% end %>
      </div>
</div>

