<header class="navbar navbar-fixed ">
  <div class="container" >
    <nav>

      <% if logged_in? %>
          
      <ul class="nav navbar-nav navbar-left">
      <%= link_to "EMALL", current_user, id: "logo" %> 
      </ul>
               
       <ul class="nav navbar-nav searchbar">
       <li> <form class="form-inline" action="/search">
       <div class="search">
       <input class="searchTerm" name="q" type="text" placeholder="Search" aria-label="Search">
       <select class="searchcate" name="cate">
       <option value="All">All</option>
       <option value="title">By title</option>
       <option value="category">By category</option>
       <option value="author">By author</option>
       </select>
       <!--<input class="searchcate"  type="text" placeholder="All" aria-label="All">-->
       <button class="searchButton" type="submit">Search</button>
       </div>
       </form> </li>
       </ul>
       
       <ul class="nav navbar-nav navbar-right">

             <!--View Items-->
          <li><%= link_to "Shop", items_path, class: "btn btn-lg btn-outline-primary" %></li>
       
      <!--New Item-->
              <% if current_user.admin? %>
              <li><%= link_to "All users", users_path, class: "btn btn-lg btn-outline-primary" %></li>
              <li><%= link_to "Categories", categories_path, class: "btn btn-lg btn-outline-primary" %></li>
              <% else %>
              <li><%= link_to "Add a book", newitem_path, class: "btn btn-lg btn-outline-primary" %></li>
              <% end %>

          
          <!--Logout-->
          <li class="dropdown">
            <a href="#" class="btn btn-lg btn-outline-primary dropdown-toggle "  data-toggle="dropdown">
             <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user)  %></li>
              <% if current_user.admin? %>
              <% else %>
              <li><%= link_to "Transactions", purchased_path %> </li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
            </li>
            </ul>
          
          
        <% else %>
     
        
        
      <ul class="nav navbar-nav navbar-left">
      <%= link_to "EMALL", root_path,id: "logo" %> 
      </ul>
      
       <ul class="nav navbar-nav searchbar">
       <li> <form class="form-inline" action="/search">
       <div class="search">
       <input class="searchTerm" name="q" type="text" placeholder="Search" aria-label="Search">
       <select class="searchcate" name="cate">
       <option value="All">All</option>
       <option value="title">By title</option>
       <option value="category">By category</option>
       <option value="author">By author</option>
       </select>
       <!--<input class="searchcate"  type="text" placeholder="All" aria-label="All">-->
       <button class="searchButton" type="submit">Search</button>
       </div>
       </form> </li>
       </ul>
       
      <ul class="nav navbar-nav navbar-right">
           <!--View Items-->
       <li><%= link_to "Shop", items_path, class: "btn btn-lg btn-outline-primary" %></li>
        <!--sign up-->
        <li><%= link_to "Sign up", signup_path, class: " btn btn-lg btn-outline-primary" %></li>
        <!--Login-->
        <li><%= link_to "Log in", login_path, class: " btn btn-lg btn-outline-primary" %></li>
        </ul>
        <% end %>



    </nav>
  </div>
</header>